// components/node-panel/node-panel.component.html
<div class="node-panel" (click.stop)>
  <div class="panel-header">
    <h3>Add Node</h3>
    <button mat-icon-button (click)="close.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="panel-search">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search nodes</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Type to search...">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="panel-content">
    <div *ngIf="searchTerm && filteredNodes.length > 0" class="search-results">
      <h4>Search Results</h4>
      <div class="node-item" *ngFor="let node of filteredNodes"
           draggable="true"
           (dragstart)="onDragStart($event, node)"
           (click)="addNode(node)">
        <mat-icon [style.color]="node.color">{{ node.icon }}</mat-icon>
        <div class="node-info">
          <span class="node-name">{{ node.name }}</span>
          <span class="node-description">{{ node.description }}</span>
        </div>
      </div>
    </div>

    <mat-accordion *ngIf="!searchTerm">
      <mat-expansion-panel *ngFor="let category of categories" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category }}</mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="category-nodes">
          <div class="node-item" *ngFor="let node of nodesByCategory[category]"
               draggable="true"
               (dragstart)="onDragStart($event, node)"
               (click)="addNode(node)">
            <mat-icon [style.color]="node.color">{{ node.icon }}</mat-icon>
            <div class="node-info">
              <span class="node-name">{{ node.name }}</span>
              <span class="node-description">{{ node.description }}</span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>